body {
    padding-bottom: 3rem;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

table {
    font-family: 'Teko', sans-serif;
    font-size: 1.1rem;
}

.h-sm {
    font-size:70%;
}

.top-buffer-sm {
    margin-top: 3rem;
}